@charset "utf-8";
/**
 * main.css
 * Layout[main] + Contents[main]
 * 20221026 | @m | 최초작성
 * 20221028 | @m | 요구반영. 결함개선. 고도화.
 * 20221104 | @m | 
 */


/* Base ◆◆◆ */


/* ◇◆ Layout[main] ◇◆◇◆◇◆◇◆◇◆ */


/* 배치.메인 20221104 */
	#head{
		background:rgba(23,23,23, 1);
	}
	#wrap{
		border-top:0;	
	}
		#wrap>.container{
			max-width:none; /* ☆ */
			margin:0;
		}
			#body{
				word-wrap:break-word; /* ☆ */
				word-break:keep-all; /* ☆ */
				line-height:1.375;
			}
				#body [id*='mainbody']{position:relative;}
				#mainbody1{
					background:rgba(23,23,23, 1);
				}
				#mainbody2{
					background:#fff;
				}
				#mainbody3{
					background:#f3f6fd;
				}
				#mainbody4{
					background:#5056ff;
				}
					#body [id*='mainbody']>.container{
						padding:calc(30px + 3.67648%) 0; /* ((30 + 50/1360) */
					}
					#mainbody1[id]>.container{}
					#mainbody2[id]>.container{}
					#mainbody3[id]>.container{
						padding:calc(30px + 5.88235%) 0; /* ((30 + 80/1360) */
					}
					#mainbody4[id]>.container{}
						/* #body [class*='mainwrap']{} */


/* ◇◆ 공통 조정 ◇◆ */


/* ☆감춤 20221028 */
/* none ★☆ToEdit) 나중에 작업할거 ☆  */


/* ☆공용 20221028 */
/* none */
.init img{max-width:100%;} /* ☆ */



#logo{
	color:rgba(255,255,255, .9375);
}


#gn1 .a1{
	color:rgba(255,255,255, .75);
}
#gn1 .a1[href]:hover,
#gn1 .a1[href]:focus{
	color:rgba(255,255,255, 1);
}
#gn1 .a1~.a1:before{content:''; /*│*/
	border-left:1px solid rgba(255,255,255, .2);
}


#gn2 .a1{
	color:rgba(255,255,255, .75);
}
#gn2 .a1[href]:hover,
#gn2 .a1[href]:focus{
	color:rgba(255,255,255, 1);
}
#gn2 .a1~.a1:before{content:''; /*│*/
	border-left:1px solid rgba(255,255,255, .2);
}


/* #body */


/* 서비스소개 20221028 */
#vbr1{
	display:block;
	color:#fff;
}
#vbr1 .wrap1{
	text-align:center;
}
#vbr1 .w1{}
#vbr1 .w2{
	margin:calc(4% + 0px) 25%;
}
#vbr1 .h1{
	margin:0;
	font-size:1.875em;
}
#vbr1 .t1{
	display:block;
	margin:.625em 0 1.625em;
	font-weight:300;
	font-size:.9375em;
	opacity:.9;
}
#vbr1 .b1{
	display:inline-flex; /* ☆ */
	justify-content:center;
	align-items:center;
	padding:.625rem 3.4375rem;
	background:#fff;
	color:#222;
	font-size:1em;
}
#vbr1 .f1{
	display:block;
	width:100%;
	max-width:439px;
	margin:0 auto;
}
#vbr1 .f1p1{
	display:block;
	padding:0 0 85.421%; /* (750/878) */
	background:url(../../img/main.v01/vbr1p01@2x.png) no-repeat center center / contain;
}
/* ◇◆ */
@media all and (min-width:768px){
	#vbr1 .h1{
		font-size:3.75em;
	}
	#vbr1 .t1{
		font-size:1.875em;
	}
	#vbr1 .b1{
		font-size:1.25em;
	}
}
/* ◇◆ */
@media all and (min-width:1260px){
	#vbr1 .wrap1{
		display:flex; /* ☆ */
		justify-content:space-between;
		align-items:center;
		text-align:left;
	}
	#vbr1 .w2{
		flex:none;
		width:439px;
		margin:0 0 30px;
	}
}


/* 사례 20221028 */
#case1{
	display:block;
}
#case1 .wrap1{
	text-align:center;
}
#case1 .h1{
	margin:0;
	color:#222;
	font-size:1.875em;
}
/* ◇◆ */
@media all and (min-width:768px){
	#case1 .h1{
		font-size:2.5em;
	}
}


/* 서비스 20221028 */
#menu1{
	display:block;
}
#menu1 .wrap1{
	text-align:center;
}
#menu1 .h1{
	margin:0 0 1em;
	color:#222;
	font-size:1.75em;
}
#menu1 .mns{
	list-style:none;margin:0;padding:0;
}
#menu1 .m{
	display:inline;
}
#menu1 .a1{
	display:inline-block;
	box-sizing:border-box; /* ☆ */
	margin:14px;
	padding:50px 40px;
	border-radius:10px;
	background:#fff;
	color:inherit;
	box-shadow:0 4px 50px rgba(207, 214, 232, .5);
}
#menu1 .t1{
	display:block;
	margin:1em 0;
	color:#222;
	font-weight:600;
	font-size:1.375em;
}
#menu1 .t2{
	display:block;
	font-size:1em;
	line-height:1.5;
}
#menu1 .ic1{
	display:block;
	width:70px;
	height:70px;
	margin:.25em auto;
	background:url() no-repeat center center / contain;
}
#menu1 .m1 .ic1{background-image:url(../../img/main.v01/menu1p01@2x.png);}
#menu1 .m2 .ic1{background-image:url(../../img/main.v01/menu1p02@2x.png);}
#menu1 .m3 .ic1{background-image:url(../../img/main.v01/menu1p03@2x.png);}
#menu1 .m4 .ic1{background-image:url(../../img/main.v01/menu1p04@2x.png);}
#menu1 .m5 .ic1{background-image:url(../../img/main.v01/menu1p05@2x.png);}
/* ◇◆ */
@media all and (min-width:768px){
	#menu1 .h1{
		font-size:2.5em;
	}
	#menu1 .a1{
		width:300px;
		height:354px;
	}
	#menu1 .m:nth-child(2):after{content:'';
		display:block;
	}
}


/* 문의안내 20221028 */
#vbr2{
	display:block;
	color:#fff;
}
#vbr2 .wrap1{
	text-align:center;
}
#vbr2 .w1{}
#vbr2 .w2{
	margin:calc(4% + 0px) 25%;
}
#vbr2 .h1{
	margin:0;
	font-size:1.875em;
}
#vbr2 .t1{
	display:block;
	margin:1em 0 1.5em;
	font-weight:300;
	font-size:.9375em;
	opacity:.9;
}
#vbr2 .b1{
	display:inline-flex; /* ☆ */
	justify-content:center;
	align-items:center;
	padding:.625rem 3.4375rem;
	background:#fff;
	color:#5056ff;
	font-size:1em;
}
#vbr2 .f1{
	display:block;
	width:100%;
	max-width:373px;
	margin:0 auto;
}
#vbr2 .f1p1{
	display:block;
	padding:0 0 85.421%; /* (750/878) */
	background:url(../../img/main.v01/vbr2p01@2x.png) no-repeat center center / contain;
}
/* ◇◆ */
@media all and (min-width:768px){
	#vbr2 .h1{
		font-size:2.5em;
	}
	#vbr2 .t1{
		font-size:1.25em;
	}
	#vbr2 .b1{
		font-size:1.25em;
	}
}
/* ◇◆ */
@media all and (min-width:1260px){
	#vbr2 .wrap1{
		display:flex; /* ☆ */
		flex-direction:row-reverse;
		justify-content:space-between;
		align-items:center;
		text-align:left;
	}
	#vbr2 .w2{
		flex:none;
		width:50%;
		margin:0 0 30px;
	}
}




/* ◇◆ ((( lib.css ◇◆◇◆◇◆◇◆ */
/* none */


/* ◇◆ ((( lib2.css .cp1~ ◇◆◇◆◇◆◇◆ */
/* none */


/* ◇◆ StyleName. YYYYMMDD. @Who	 ◇◆ */


/* RWD ◇◆◇◆ */
/* ◇◆ */
@media all and (max-width:767px){
}
/* ◇◆ */
@media all and (min-width:768px){
}
/* ◇◆ */
@media all and (min-width:1000px){
}
/* ◇◆ */
@media all and (min-width:1260px){
}
/* ◇◆ */
@media all and (min-width:1440px){
}


/* RWD ◇◆◇◆◇◆◇◆◇◆◇◆ */
/* 콘텐츠 마다 미디어쿼리 중단점을 다르게 표현할 때는 각 콘텐츠 CSS 아래 바로 선언 */
/* 여기는 전체 콘텐츠 배치 관련 CSS 만 모아서 정의한다. */
@media all and (min-width:768px){/* medium ◇◆◇◆◇◆◇◆◇◆ */
} /* /(min-width:768px) */
@media all and (min-width:1000px){ /* large ◇◆◇◆◇◆◇◆◇◆ */
} /* /(min-width:1000px) */
@media all and (min-width:1260px){ /* xlarge (1200+20*2+16+2*2) ◇◆◇◆◇◆◇◆◇◆ */


/* ◇◆◇◆ */


} /* /(min-width:1260px) */
@media all and (min-width:1440px){ /* 2xlarge (1360+40*2) ◇◆◇◆◇◆◇◆◇◆ */


	#body [id*='mainbody']>.container{
		padding:80px 0;
	}
	#mainbody3[id]>.container{
		padding:110px 0;
	}


} /* /(min-width:1440px) */
/* /RWD ◇◆◇◆◇◆◇◆◇◆◇◆ */


/* ◇◆ animation ◇◆◇◆◇◆◇◆◇◆ */


@keyframes kfx1tx2{
	50%{transform: translateX(-2px);}
}
.kfx1tx2{animation:kfx1tx2 .6s ease-in-out infinite;}


/* ◇◆ /animation ◇◆◇◆◇◆◇◆◇◆ */