@charset "utf-8";
/**
 * all.css
 * Base Adjust + Layout[main+sub] Mobile First!
 * 20221026 | @m | 최초작성
 * 20221104 | @m | 요구반영. 결함개선. 고도화
 */


/* All Device ◆◆◆◆◆◆◆◆◆◆ */


/* Base 20221104 ◆◆◆ */


html{
	height:100%;
	scroll-behavior:smooth;
}
body{
	background:#fff;
	color:#333; /* (((#555 */
	font-size:1em; /* (((16px */
	line-height:1.75; /* (((1.75 */
	letter-spacing:-.03125em; /* (-.5px/16px) */
}
body:not([x]){ /* 고정값만(반응형값아닌) */
	font-family:
		'Apple SD Gothic Neo',
		-apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo',
		/* Pretendard, */
		Roboto,
		Lato,
		'Open Sans',OpenSans,
		'Segoe UI',
		'Microsoft JhengHei',
		'Meiryo',
		'본고딕','Noto Sans KR','Noto Sans CJK KR',NotoSans, /* 로컬 파일 우선 */
		'본고딕',NotoSans,'Noto Sans KR','Noto Sans CJK KR', /* 리모트 우선 */
		'나눔고딕',NanumGothic,'Nanum Gothic',
		'맑은 고딕','Malgun Gothic',
		'돋움',Dotum,
		Helvetica,'Helvetica Neue',
		Arial,
		sans-serif;
}


/* ◇◆ 공용 ◇◆ */


[href]{
	color:inherit;
}



/* ◇◆ Layout[main+sub] ◇◆◇◆◇◆◇◆◇◆ */



/* 배치.전체 20221104 */
html,
body,
#container, #wrap, #body{min-height:100%;}
.container{
	position:relative;
	min-width:240px; /* ☆ */
	/* max-width:1360px; */ /* ☆ */
	margin:0 calc(12px + 2.5%); /* (12 + 36/1440) */
}
#container{
	position:relative;
	/* overflow-x:hidden; */ /* ★ Mobile 가로범람 방지 */
}
	#head{
		clear:both;
		z-index:90;
		position:fixed;left:0;right:0;top:0;
		height:60px;
		background:#181c20;
	}
		#head>.container{
			height:100%;
			margin:0;
		}
			#head_s1{
				height:100%;
			}
				#head_s1>.container{
					display:flex; /* ☆ */
					align-items:center;
					height:100%;
				}
			#head_s2{
				position:absolute;left:0;right:0;top:0;
			}
				#head_s2>.container{
				}
	#wrap{
		clear:both;
		position:relative;
		min-height:calc(100vh - 60px);
		margin:60px 0 0;
		background:#f3f6fd;
	}
		#wrap>.container{
			display:flex; /* ☆ */
			position:relative;
			margin:0;
		}
			/* #sidebar{} */
			#body{
				flex:1;
				/* ☆ z-index:0; */
				position:relative;
				box-sizing:border-box; /* ☆ */
				word-wrap:break-word; /* ☆ */
				/* word-break:keep-all; */ /* ☆ */
			}
				#body>.container{
					margin:0;
				}
					#body_head{
						background:#fff;
					}
						#body_head>.container{
						}
					/* #body_foot{}
						#body_foot>.container{} */
						#body_content{
							border-top:1px solid #d7d7d7;
							padding:0 0 calc(16px + 2.5%); /* ((16 + 34/1360) */
						}
							#body_content>.container{}
	#wing{
		z-index:99;
		position:fixed;left:0;right:0;bottom:0;
		height:0;
	}
	#foot{
		clear:both;
		position:relative;
		background:#181c20;
	}
		#foot_s1{
			position:relative;
			border-bottom: 1px solid rgba(217,217,217, .3);
		}
		#foot_s2{position:relative;}
			#foot_s1>.container{}
			#foot_s2>.container{
				margin-top:2.5em;
				margin-bottom:2.5em;
			}


/* ☆ 모바일 감춤 20221104 */

/* #gn1{display:none;}  */


/* only Desktop BG image Preload 20221104 */
/* none */



/* #head */


/* 로고 20221104 */
#logo{
	z-index:10;
	margin:0 20px 0 0;
	border:0;
	background:none;
	color:rgba(255,255,255, .9375);
	font-size:24px;
	letter-spacing:-.03125em;
}
#logo a{color:inherit;}


/* 글로벌내비(Demo) 20221104 */
#gn1{
	display:flex; /* ☆ */
	justify-content:flex-end;
	z-index:10;
	position:relative;
	/* margin:0 auto 0 0; */
	line-height:1.375;
}
#gn1 .a1{
	display:inline-flex; /* ☆ */
	align-items:center;
	position:relative;
	padding:.0625rem .3125rem;
	border:1px solid #5056ff;
	color:#5056ff;
	text-decoration:none
}
#gn1 .t1{
	font-size:.6875rem;
}


/* 글로벌내비(문의하기) 20221104 */
#gn2{
	display:flex; /* ☆ */
	z-index:10;
	position:relative;
	/* margin:0 -1rem 0 auto; */
	line-height:1.375;
}
#gn2 .a1{
	display:inline-flex; /* ☆ */
	align-items:center;
	position:relative;
	padding:.625rem 1rem;
	color:#7a90a9;
	text-decoration:none
}
#gn2 .a1[href]:hover,
#gn2 .a1[href]:focus{
	color:#95a6ba;
}
#gn2 .t1{
	font-size:1rem;
}
#gn2 .ic1{
	display:inline-block;
	width:14px;height:14px;
	margin:0 0 0 .375em;
	background:url(../../img/inc/ic28a1c2talk1.png) no-repeat center center / contain;
	vertical-align:middle;
}


/* #sidebar */
/* #wing */
/* #foot */


/* #body */
/* #body_head */


/* 현재페이지 경로 20221104 */
#path1{
	display:flex; /* ☆ */
	align-items:center;
	z-index:10;
	position:relative;
	margin:0 auto 0 0;
	padding:.75em 0;
	line-height:1.375;
}
#path1 .cont{
	display:flex; /* ☆ */
	align-items:center;
}
#path1 .a1{
	color:inherit;
	font-weight:500;
}
#path1 .sep{
	margin:0 .375em;
	color:#949494;
}


/* 사용자 20221104 */
#user1{
	display:flex; /* ☆ */
	align-items:center;
	z-index:10;
	position:relative;
	margin:-1px auto 0 0;
	padding:.75em 0;
	border-top:1px solid #eee;
	line-height:1.375;
}
#user1 .t1{
	color:inherit;
}


/* #body_content */


/* 본문제목 20221104 */
#body_title{
	display:flex; /* ☆ */
	flex-wrap:wrap;
	position:relative;
	margin:0 auto 0 0;
	padding:24px 0 18px;
	line-height:1.375;
}
#body_title .w1{}
#body_title .w2{}
#body_title .ic1{
	display:block;
	width:50px;
	height:50px;
	margin:0 1em 0 0;
	background:url(../../img/inc/ic140a1c2audio1.png) no-repeat center center / contain;
}
#body_title .h1{
	margin:0;
	font-weight:600;
	font-size:1.25em;
}
#body_title .h1t1{
	display:block;
}
#body_title .h1t2{
	display:block;
}
#body_title .t1{
	margin:.5em 0;
	/* color:#666; */
	font-size:.875em;
}


/* ETC */


/* ◇◆ StyleName. YYYYMMDD. @Who	 ◇◆ */


/* ◇◆ @media print{} ◇◆◇◆◇◆◇◆◇◆◇◆ */


/* 인쇄 20200407. 20200820.
 * )) /share/ui/printpage.html @media all{} 동기화 확인
 */
@media print{
	/* hide */
	#head, #visual, #foot, #wing, #sidebar, #side, #aside,
	#body_foot,
	#tnb1,
	#quickmenu1,
	#fast1,
	#location1, /* ☆ */
	#bn1,
	#fontsize1,
	#go1sib1, /* 20200820 */
	.bg, .noprint{display:none !important;}
	/* show */
	html{background:#fff !important;}
	body,
	#container, #wrap, #body,
	.container, /* 20200820 */
	#body_head,
	#body_head_s1, #body_head_s2, /* 20200820 */
	#body_content{float:none !important;left:0 !important;top:0 !important;width:auto !important;min-width:0 !important;max-width:none !important;height:auto !important;margin:0 !important;padding:0 !important;border:0 !important;background:transparent !important;overflow:visible !important;box-shadow:none !important;}
	#body_title{display:block !important;position:static !important;left:0 !important;top:0 !important;height:auto !important;margin:0 !important;padding:0 0 1em !important;border:0 !important;}
	table{border-color:#999 !important;}
	table th,
	table td{border-color:#999 !important;}
	/* transparent */
	#head_below{background:transparent !important;}
}


/* RWD ◇◆◇◆◇◆◇◆◇◆◇◆ */
@media all and (max-width:1259px){ /* small medium large ◇◆◇◆◇◆◇◆◇◆ */


/* 주메뉴 20221104. makeActive2ClickHover('#tnb1'); */
#tnb1{
	position:absolute;left:0;right:0;top:0;
	width:100%;
	margin:auto;
	line-height:1.375;
	word-wrap:break-word;
	word-break:keep-all;
}
#tnb1 .b1.toggle{float:left;
	z-index:20; /* ☆(화면확인) */
	position:absolute;
	right:-9px;
	top:10px; /* (화면확인) */
	box-sizing:border-box; /* ☆ */
	width:40px;height:40px;
	border-radius:2px;
	background:none;
	overflow:hidden;text-indent:-9999px;
}
#tnb1 .b1.toggle .ic1{float:left;position:absolute;left:50%;top:50%;
	width:40px;height:40px;margin:-20px;
	background:url(../../img/inc/ic80a1c2bars1.png) no-repeat center center / contain;
	/* opacity:.75; */
}
#tnb1 .b1.toggle.on{}
#tnb1 .b1.toggle.on .ic1{
	width:40px;height:40px;margin:-20px;
	background-image:url(../../img/inc/ic80a1c0close1.png);
}
#tnb1c{
	display:block !important; /* ☆ */
	visibility:hidden; /* ☆ */
	z-index:100; /* ☆ */
	position:fixed; /* ☆ */
	left:auto;
	right:-100%;
	top:0;bottom:0;
	width:100%;
	height:100vh;
	overflow-y:visible; /* ☆ */
	transition:.0s;
	/* ★☆ToEdit) 확인용 */
	/* visibility:visible !important;
	right:0 !important; */
}
#tnb1c.on{
	display:block;
	visibility:visible;
	right:0;
	transition:.2s .2s;
}
#tnb1c>.bg{visibility:hidden;
	position:fixed;left:0;right:0;top:0;bottom:0;
	/* margin:100px 0 0; */ /* (#height 높이) */
	background:rgba(64,64,64, .5);
	opacity:0;
	transition:.0s;
}
#tnb1c.on>.bg{visibility:visible;
	opacity:1;
	transition:.2s;
}
/* ☆ */
#tnb1c .b2{display:inline-block;
	z-index:110;
	position:absolute;right:0;top:0;
	width:40px;height:40px;
	margin:8px;
}
#tnb1c .b2>.ic1{
	float:left;
	position:absolute;left:50%;top:50%;
	width:16px;height:16px;
	margin:-8px;
	background:url() no-repeat center center / contain;
}
#tnb1c .b2.close{}
#tnb1c .b2.close>.ic1{background:url(../../img/inc/ic30a3c2x1.png) no-repeat center center / auto;}
#tnb1c .d1 ~ .b2.close>.ic1{
	opacity:0;
}
/* ☆ */
#tnb1c>div.cont{
	display:none; /* [All]키보드지나감방지 */
	position:relative;
	right:-200%;
	box-sizing:border-box; /* ☆ */
	width:100%;
	height:100%;
	background:#18181b;
	/* overflow:hidden; */
	box-shadow:5px 0 5px 0 rgba(0, 0, 0, .1);
}
#tnb1c.on>div.cont{
	display:block;
	right:0;
}
/* depth1~depth4 */
#tnb1 .smain{display:block;}
/* depth1 */
#tnb1 div.d1{
	clear:both;
	position:relative;
	top:60px;
	height:calc(100% - 56px - 1px);
	border-top:1px solid #3e434b;
	background:#23272a;
	overflow-y:auto; /* ☆ */
}
#tnb1 div.d1>ul{
	box-sizing:border-box; /* ☆ */
	/* width:50%; */
	min-height:100%;
	margin:-1px 0 0;
	padding:0 0 40px;
	border-right	:1px solid #2f353d;
	background:#18181b;
}
html.Mobile #tnb1 div.d1>ul{
	min-height:calc(100% + 40px); /* 모바일 UX 위해 여유 둔다 */
}
#tnb1 div.d1>ul>li{display:inline;} /* ☆ */
#tnb1 div.d1>ul>li>a{
	display:block;
	z-index:20; /* .d2 보다 높여준다 */
	position:relative;
	box-sizing:border-box; /* ☆ */
	border-top:1px solid #3e434b;
	/* background:url(../../img/inc/tnb1d1bg1.png) no-repeat 10px 50%; */
	color:#fff;
	font-weight:400;
	font-size:16px;
	word-break:keep-all;
	word-wrap:break-word;
}
#tnb1 div.d1>ul>li>a>.t1{
	display:block; /* ☆ */
	padding:.75em 30px .75em 16px;
	vertical-align:middle;
}
#tnb1 div.d1>ul>li.hasSub>a{
	/* background-image:url(../../img/inc/tnb1d1bg1has.png); */
}
#tnb1 div.d1>ul>li>a:hover,
#tnb1 div.d1>ul>li>a:focus{}
/* depth1 활성 */
#tnb1 div.d1>ul>li.on>a{
	/* background-image:url(../../img/inc/tnb1d1bg1on.png); */
	font-weight:500;
}
/* depth2~3 */
#tnb1 li>div[class^='d']{
	display:none;visibility:hidden;
	height:0;opacity:0;
	/* transition:.2s; */
}
#tnb1 li.on>div[class^='d']{
	display:block;visibility:visible;
	height:auto;opacity:1;
}
#tnb1 .tt1{
	display:none;
}
/* depth2 */
#tnb1 li>div.d2{
	display:block;visibility:visible;
	height:auto;opacity:1;
}
#tnb1 div.d2>ul{
	margin:0 0 -1px;
	padding:.625em 0 1.625em;
	border-top:1px solid rgba(255,255,255, .1);
	border-bottom:1px solid rgba(255,255,255, .1);
}
#solidnb1 div.d2>ul>li{}
#tnb1 div.d2>ul>li>a{
	display:block;
	z-index:10;
	position:relative;
	padding:.625em 32px .625em 16px;
	background:url(../../img/inc/tnb1d2bg1.png) no-repeat;
	background-position:calc(100% - 16px) .9375em;
	color:#ddd;
	font-size:14px;
	transition:.2s;
}
#tnb1 div.d2>ul>li.hasSub>a{
	background-image:url(../../img/inc/tnb1d2bg1has1.png);
}
#tnb1 div.d2>ul>li.on>a{
	background-image:url(../../img/inc/tnb1d2bg1on.png);
	color:#fff;
	font-weight:400;
}
#tnb1 div.d2>ul>li.hasSub.on>a{
	background-color:#23272a;
	background-image:url(../../img/inc/tnb1d2bg1has1on.png);
}
/* depth3 없음 */



} /* /(max-width:1259px) */
@media all and (max-width:999px){ /* small medium ◇◆◇◆◇◆◇◆◇◆ */
} /* /(max-width:999px) */
@media all and (max-width:767px){ /* small ◇◆◇◆◇◆◇◆◇◆ */


/* Mobile font-size 20221028 */
html{
	font-size:.875em; /* ☆(14/16) */
}
.fs1rem{
	font-size:.875rem !important; /* ☆(14/16) */
}


} /* /(max-width:767px) */
@media all and (min-width:768px){ /* medium ◇◆◇◆◇◆◇◆◇◆ */
} /* /(min-width:768px) */
@media all and (min-width:1000px){ /* large ◇◆◇◆◇◆◇◆◇◆ */
} /* /(min-width:1000px) */
@media all and (min-width:1260px){ /* xlarge (1200+20*2+16+2*2) ◇◆◇◆◇◆◇◆◇◆ */


	#head{
		position:fixed;left:0;right:auto;top:0;bottom:0;
		width:280px;
		height:auto;
	}
		#head>.container{}
			#head_s1{
				height:80px;
			}
			#head_s1>.container{
				position:static;
			}
			#head_s2{
				position:static;
			}
				#head_s2>.container{
					position:static;
					margin:0;
				}
	#wrap{
		min-height:calc(100vh);
		margin:0 0 0 280px;
	}

		#body_head{
			z-index:20;
			position:fixed;
			left:280px;
			right:0;
			top:0;
		}
			#body_head>.container{
				display:flex; /* ☆ */
				justify-content:space-between;
				align-items:center;
				height:80px;
			}
		#body_content{
			margin:80px 0 0;
		}


/* ◇◆ 공통 조정 ◇◆ */


#gn1{
	margin:0 0 0 auto;
}
#gn1 .t1{
	font-size:.8125rem;
}

#gn2{
	position:absolute;left:0;right:0;bottom:0;
	border-top:1px solid #344057;
	background:#181c20;
}

#path1{
	font-size:1.25em;
}

#user1{
	margin:0 0 0 auto;
	border:0;
}

#body_title{
	flex-wrap:nowrap;
	align-items:center;
	padding:48px 0 36px;
}
#body_title .w2{
	display:flex; /* ☆ */
	align-items:center;
}
#body_title .ic1{
	width:70px;
	height:70px;
	margin:0;
}
#body_title .h1{
	margin:0 30px;
}
#body_title .t1{
	font-size:1.1875em;
}


/* 주메뉴 20221104. makeActive2ClickHover('#tnb1');
 * 배치 1차스택.개별열림.2차스택
 * #tnb1c.over
 */
#tnb1{
	height:calc(100vh - 80px - 42px - 2px); /* (뷰높이 - 상단 - 하단 - 보더) */
	border-top:1px solid #fff1;
}
/* 데스크탑 감춤 */
#tnb1 .b1.toggle,
#tnb1c .b2{display:none;}
#tnb1c{
	display:block !important; /* ☆ */
	visibility:visible; /* ☆ */
	z-index:0; /* z > (겹치는거) */
	/* position:relative; */
	height:100%;
	/* overflow:hidden; */
	/* transition:.01s; */ /* 키보드운용 ((( 0s */
}
#tnb1c>.bg{}
#tnb1c.on{
	display:block;visibility:visible;
	right:auto; /* ☆ */
}
#tnb1c>div.cont{}
#tnb1c.on>div.cont{}
/* depth1~depth4 */
/* depth1 */
#tnb1 div.d1{}
#tnb1 div.d1>ul{
	padding:0 0 40px;
}
#tnb1 div.d1>ul>li{display:inline;} /* ☆ */
#tnb1 div.d1>ul>li>a{
	display:block;
	z-index:20; /* .d2 보다 높여준다 */
	position:relative;
	box-sizing:border-box; /* ☆ */
	border-bottom:1px solid #344057;
	/* background:url(../../img/inc/tnb1d1bg1.png) no-repeat 92% 50%; */
	color:#7a90a9;
	font-weight:400;
	font-size:18px;
	word-break:keep-all;
	word-wrap:break-word;
	transition:.2s;
}
#tnb1 div.d1>ul>li>a>.t1{
	display:block; /* ☆ */
	padding:.75em 30px .75em 20px;
	vertical-align:middle;
}
#tnb1 div.d1>ul>li.hasSub>a{
	/* background-image:url(../../img/inc/tnb1d1bg1has.png); */
}
#tnb1 div.d1>ul>li.hasSub>a:after{content:'';
	display:inline-block;
	position:absolute;right:20px;top:50%;
	width:13px;height:13px;
	margin:-6.5px 0;
	background:url(../../img/inc/tnb1d1bg1has.png) no-repeat center center / contain;
}
#tnb1 div.d1>ul>li>a:hover,
#tnb1 div.d1>ul>li>a:focus{
	color:#fff;
}
/* depth1 활성 */
#tnb1 div.d1>ul>li.on>a{
	/* border-bottom-color:#fff1; */
	/* background-image:url(../../img/inc/tnb1d1bg1on.png); */
}
#tnb1 div.d1>ul>li.hasSub.on>a:after{}

/* ★ 주메뉴 전체 오버(포커스) */
#tnb1c.over{}
#tnb1c.over>.bg{}
#tnb1c.over div.d2{}

/* ★ 1차 메뉴별 오버(포커스) */
#tnb1 div.d1>ul>li.over>a{
	color:#fff;
	font-weight:500;
}
#tnb1 div.d1>ul>li.hasSub.over>a:after{
	background-image:url(../../img/inc/tnb1d1bg1has1on.png);
}

/* depth2~3 (공통만 먼저 정의) */
#tnb1 li>div[class^='d']{
	display:none;
	visibility:hidden;
	height:0;
	opacity:0;
	/* transition:.2s; */
}
/* #tnb1 li.on>div[class^='d']{
	display:block;
	visibility:visible;
	height:auto;
	opacity:1;
} */
/* ★ 오버(포커스) */
#tnb1 li.over>div[class^='d']{
	display:block;
	visibility:visible;
	height:auto;
	opacity:1;
}
/* depth2 */
#tnb1 li>div.d2{
	position:absolute;left:calc(100%);top:0;bottom:0;
	width:280px;
	border-left:1px solid #2d3749;
	background:#181c20;
}
#tnb1 div.d2 .tt1{
	display:block;
	padding:2.125em 32px .125em 20px;
	/* border-bottom:1px solid #fff1; */
	color:#fff;
	font-weight:500;
	font-size:20px;
}
#tnb1 div.d2>ul{
	/* margin:0 0 -1px; */
	padding:.625em 0 1.625em;
	/* border-bottom:1px solid #344057; */
}
#tnb1 div.d2>ul>li{}
#tnb1 div.d2>ul>li>a{
	display:block;
	z-index:10;
	position:relative;
	padding:.625em 32px .625em 20px;
	/* background:url(../../img/inc/tnb1d2bg1.png) no-repeat;
	background-position:calc(100% - 16px) .9375em; */
	color:#7a90a9;
	font-size:16px;
	transition:.2s;
}
#tnb1 div.d2>ul>li.hasSub>a{
	/* background-image:url(../../img/inc/tnb1d2bg1has1.png); */
}
#tnb1 div.d2>ul>li>a:hover,
#tnb1 div.d2>ul>li>a:focus{
	color:#fff;
}
#tnb1 div.d2>ul>li.on>a{
	/* background-image:url(../../img/inc/tnb1d2bg1on.png); */
	color:#fff;
	font-weight:400;
}
#tnb1 div.d2>ul>li.hasSub.on>a{
	background-color:#23272a;
	/* background-image:url(../../img/inc/tnb1d2bg1has1on.png); */
}
/* depth3 없음 */




/* ◇◆◇◆ only Desktop Contents ◇◆◇◆ */


} /* /(min-width:1260px) */
@media all and (min-width:1440px){ /* 2xlarge (1360+40*2) ◇◆◇◆◇◆◇◆◇◆ */


	/* .container{
		margin:auto;
	} */


} /* /(min-width:1440px) */
@media only screen and (-webkit-min-device-pixel-ratio:1.3){ /* (O) mobile ◇◆◇◆◇◆◇◆◇◆ */
}/* /(min-device-pixel-ratio:1.3) */
/* /RWD ◇◆◇◆◇◆◇◆◇◆◇◆ */