@charset "utf-8";
/**
 * lib2.css
 * Add Share Contents ..
 * 20221026 | @m | 최초작성
 * 20221028 | @m | 요구반영. 결함개선. 고도화.
 * 20221104 | @m | 
 * 20221111 | @m | 
 * 20221118 | @m | 
 * 20221125 | @m | 
 * 20221202 | @m | 
 */

/** Compatible! [IE11+] 20210101~ */

/** Table of contents ))
 | Overwrite
 | Add Share Contents
 | Components Library
 | RWD
 */


/* All Device ◆◆◆◆◆◆◆◆◆◆ */


/* … lib.css, lib1cp1.css )) Overwrite ◆◆◆ */


/* 강조 20221111 */
em,
.em{color:#e00;}
.em1{color:#0065dd;}
.em2{color:#b76e00;}


/* 버튼 20221111 */
.button.type1{
	display:inline-flex; /* ☆ */
	width:100%;
	max-width:12.5rem;
	margin:.375rem;
	padding-top:calc(.5625rem - 1px); /* (3.75-(1.5*1.75))/2 */
	padding-bottom:calc(.5625rem - 1px);
	border-radius:0;
	background:#181c20;
	font-size:1.125rem;
}
.button.type1 .t1{}
.button.type1 .ic1{
	display:inline-block;
	width:18px;
	height:18px;
	background:url(../../img/lib2/ic36a1c0a1right1.png) no-repeat center center / contain;
}
.button.type1 .ic1.prev{background-image:url(../../img/lib2/ic36a1c0a1left1.png);}
.button.type1 .ic1.download{background-image:url(../../img/lib2/ic36a1c0download1.png);}
.button.type1 .ic1.upload{background-image:url(../../img/lib2/ic36a1c0upload1.png);}
/*  */
.button.type1 *~.t1,
.button.type1 *~.ic1{
	margin-left:.5em;
}



/* ◇◆ Added to This Project, Content Styles to Share ◇◆◇◆◇◆◇◆◇◆ */


/* 본문푸터그룹(버튼들) 20221111 */
.cp2fg1{
	display:block;
	margin:0 0 2em;
	text-align:center;
}


/* 탭패널콘텐츠 (엔진체험|활용사례|매뉴얼) 20221202 */
.cp2tabs1{
	z-index:0;
	position:relative;
	margin:0 auto;
	line-height:1.375;
	word-wrap:break-word;
	word-break:keep-all;	
}
.cp2tabs1 ul{
	display:flex; /* ☆ */
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
}
.cp2tabs1 li{
	flex:auto;
	display:flex; /* ☆ */
	margin:0;
}
.cp2tabs1 li a{
	flex:1;
	display:flex; /* ☆ */
	justify-content:center;
	align-items:center;
	padding:.625em;
	background:#7a90a9;
	color:#fff;
	font-size:1.125em;
	text-decoration:none !important;
	text-align:center;
}
.cp2tabs1 .t1{}
.cp2tabs1 .ic1{}
/* ☆ */
.cp2tabs1 li a:hover,
.cp2tabs1 li a:focus{
	background:#678;
	color:#fff;
}
.cp2tabs1 li.on a{
	background:#181c20;
	color:#fff;
}
/*  */
.cp2tabs1 .tooltip1c{
	margin-top:8px;
}
/* 패널콘텐츠 */
.cp2tabs1cont{}
.cp2tabs1pane{}
/* ◇◆ */
@media all and (min-width:768px){
	.cp2tabs1 li a{
		font-size:1.25em;
	}
}


/* 탭패널콘텐츠 (엔진체험|활용사례|매뉴얼) 20221125 */
.cp2tabs2{
	z-index:0;
	position:relative;
	margin:20px auto;
	line-height:1.375;
	letter-spacing:0;
	word-wrap:break-word;
	word-break:keep-all;	
}
.cp2tabs2 ul{
	display:flex; /* ☆ */
	justify-content:center;
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
}
.cp2tabs2 li{
	flex:auto;
	display:flex; /* ☆ */
	margin:0;
}
.cp2tabs2 li a{
	flex:1;
	display:flex; /* ☆ */
	justify-content:center;
	align-items:center;
	padding:.375em;
	color:#181c20;
	font-size:1em;
	text-decoration:none !important;
	text-align:center;
}
.cp2tabs2 .t1{}
.cp2tabs2 .ic1{}
/* ☆ */
.cp2tabs2 li a:hover,
.cp2tabs2 li a:focus{
	color:#0065dd;
}
.cp2tabs2 li.on a{
	font-weight:900;
	color:#0065dd;
}
/*  */
.cp2tabs2 .tooltip1c{
	margin-top:8px;
}
/* 패널콘텐츠 */
.cp2tabs2cont{}
.cp2tabs2pane{}
/* ◇◆ */
@media all and (min-width:768px){
	.cp2tabs2 li{
		flex:0;
	}
	.cp2tabs2 li a{
		padding:.5em 1.5em;
		font-size:1.25em;
	}
}


/* 콘텐츠상자 (대부분) 20221118 */
.cp2view1{
	position:relative;
	margin-left:calc( (100% - 100vw) / 2); /* (width full) */
	margin-right:calc( (100% - 100vw) / 2);
	padding:calc(16px + 1.581%) 6.587%; /* (16 + 24/1518) ((100/1518) */
	background:#fff;
}
/* ◇◆ */
@media all and (min-width:768px){
	.cp2view1{
		margin-left:auto;
		margin-right:auto;
	}
}


/* ◇◆ UI Component ◇◆◇◆◇◆◇◆◇◆ */


/* 체험하기(API 서비스소개) 20221104 (20221123~✖안씀) */
.cp2menu1{
	display:block;
	position:relative;
}
.cp2menu1 .wrap1{
	margin:1.25em 0;
	text-align:center;
}
.cp2menu1 .h1{
	margin:0 0 1em;
	color:#222;
	font-size:1.75em;
}
.cp2menu1 .mns{
	list-style:none;margin:0;padding:0;
}
.cp2menu1 .m{
	display:inline;
}
.cp2menu1 .a1{
	display:inline-block;
	box-sizing:border-box; /* ☆ */
	margin:14px;
	padding:50px 40px;
	border-radius:10px;
	background:#fff;
	color:inherit;
	box-shadow:0 4px 50px rgba(207, 214, 232, .5);
}
.cp2menu1 .t1{
	display:block;
	margin:1em 0;
	color:#222;
	font-weight:600;
	font-size:1.375em;
}
.cp2menu1 .t2{
	display:block;
	font-size:1em;
	line-height:1.5;
}
.cp2menu1 .ic1{
	display:block;
	width:70px;
	height:70px;
	margin:.25em auto;
	background:url() no-repeat center center / contain;
}
.cp2menu1 .m1 .ic1{background-image:url(../../img/inc/ic140a1c2audio1.png);}
.cp2menu1 .m2 .ic1{background-image:url(../../img/inc/ic140a1c2vision1.png);}
.cp2menu1 .m3 .ic1{background-image:url(../../img/inc/ic140a1c2language1.png);}
.cp2menu1 .m4 .ic1{background-image:url(../../img/inc/ic140a1c2education1.png);}
.cp2menu1 .m5 .ic1{background-image:url(../../img/inc/ic140a1c2video1.png);}
/* ◇◆ */
@media all and (min-width:768px){
	.cp2menu1 .h1{
		font-size:2.5em;
	}
	.cp2menu1 .a1{
		width:300px;
		height:354px;
	}
	.cp2menu1 .m:nth-child(2):after{content:'';
		display:block;
	}
}


/* 체험하기(API 서비스소개) 20221125 */
.cp2card1{
	display:block;
	position:relative;
	word-wrap:break-word;
	word-break:keep-all;
}
.cp2card1 .wrap1{
	text-align:center;
}
.cp2card1 .mns{
	display:flex; /* ☆ */
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	align-content:center;
	list-style:none;
	min-height:720px; /* (340+10*2)*2 */
	margin:-10px;
	padding:0;
}
.cp2card1 .m{
	display:inline;
}
.cp2card1 .a1{
	display:inline-block;
	box-sizing:border-box; /* ☆ */
	width:300px;
	height:340px;
	margin:10px;
	padding:184px 20px 20px;
	background:url() no-repeat center center / contain;
	background-size:100%;
	color:#fff;
	text-align:left;
	vertical-align:top;
	box-shadow:0 4px 50px rgba(207, 214, 232, .5);
	transition:.2s;
}
.cp2card1 .c1c1 .a1{background-image:url(../../img/lib2/card1c1c1bg1.png);}
.cp2card1 .c1c2 .a1{background-image:url(../../img/lib2/card1c1c2bg1.png);}
.cp2card1 .c1c3 .a1{background-image:url(../../img/lib2/card1c1c3bg1.png);}
.cp2card1 .c1c4 .a1{background-image:url(../../img/lib2/card1c1c4bg1.png);}
.cp2card1 .c2c1 .a1{background-image:url(../../img/lib2/card1c2c1bg1.png);}
.cp2card1 .c2c2 .a1{background-image:url(../../img/lib2/card1c2c2bg1.png);}
.cp2card1 .c2c3 .a1{background-image:url(../../img/lib2/card1c2c3bg1.png);}
.cp2card1 .c2c4 .a1{background-image:url(../../img/lib2/card1c2c4bg1.png);}
.cp2card1 .c2c5 .a1{background-image:url(../../img/lib2/card1c2c5bg1.png);}
.cp2card1 .c2c6 .a1{background-image:url(../../img/lib2/card1c2c6bg1.png);}
.cp2card1 .c2c7 .a1{background-image:url(../../img/lib2/card1c2c7bg1.png);}
.cp2card1 .c3c1 .a1{background-image:url(../../img/lib2/card1c3c1bg1.png);}
.cp2card1 .c3c2 .a1{background-image:url(../../img/lib2/card1c3c2bg1.png);}
.cp2card1 .c3c3 .a1{background-image:url(../../img/lib2/card1c3c3bg1.png);}
.cp2card1 .c3c4 .a1{background-image:url(../../img/lib2/card1c3c4bg1.png);}
.cp2card1 .c4c1 .a1{background-image:url(../../img/lib2/card1c4c1bg1.png);}
.cp2card1 .c4c2 .a1{background-image:url(../../img/lib2/card1c4c2bg1.png);}
.cp2card1 .c4c3 .a1{background-image:url(../../img/lib2/card1c4c3bg1.png);}
.cp2card1 .c4c4 .a1{background-image:url(../../img/lib2/card1c4c4bg1.png);}
.cp2card1 .c5c1 .a1{background-image:url(../../img/lib2/card1c5c1bg1.png);}
.cp2card1 .c5c2 .a1{background-image:url(../../img/lib2/card1c5c2bg1.png);}
.cp2card1 .c5c3 .a1{background-image:url(../../img/lib2/card1c5c3bg1.png);}
.cp2card1 .c5c4 .a1{background-image:url(../../img/lib2/card1c5c4bg1.png);}
.cp2card1 .c5c5 .a1{background-image:url(../../img/lib2/card1c5c5bg1.png);}
.cp2card1 .t1{
	display:block;
	font-weight:500;
	font-size:20px;
}
.cp2card1 .t2{
	display:block;
	margin:.375em 0 0;
	font-weight:300;
	font-size:16px;
	line-height:1.5;
}
/*  */
.cp2card1 .a1:hover,
.cp2card1 .a1:focus{
	border-radius:20px;
	animation:kf1bg1size1 .5s infinite alternate;
}
.cp2card1 .ic1{}
/* ◇◆ */
@media all and (min-width:768px){
}


/* 보이스선택 20221111 */
.cp2voice1select1{
	display:flex; /* ☆ */
	justify-content:center;
	align-items:center;
	position:relative;
	margin:0 0 calc(16px + 2.526%); /* (16 + 34/1346) */
	line-height:1.375;
	text-align:center;
}
.cp2voice1select1 .item{
	width:100%;
	max-width:290px;
	margin:0 4px;
}
.cp2voice1select1 .w1{
	padding:1.125em .875em;
	border:1px solid #7a90a9;
	border-radius:10px;
	color:#7a90a9;
}
.cp2voice1select1 .label{
	display:block;
	position:relative;
	padding:0 0 10.25em;
	margin:0 0 -10.25em;
	background:#0ff0;
}
.cp2voice1select1 input[type='radio']{
	margin:.625em 0;
}
.cp2voice1select1 .tg1{
	display:flex; /* ☆ */
	justify-content:center;
	align-items:center;
	margin:0 0 1em;
}
.cp2voice1select1 .tg1 .ic1{
	display:inline-block; 
	width:56px;
	height:56px;
	border-radius:9999px;
	background:#f3f6fd url() no-repeat center center / contain;
}
.cp2voice1select1 .tg1 .ic1.female{background-image:url(../../img/lib2/ic112a2c2female1.png);}
.cp2voice1select1 .tg1 .ic1.male{background-image:url(../../img/lib2/ic112a2c2male1.png);}
.cp2voice1select1 .tg1 .t1{
	flex:0;
	margin:0 0 0 1em;
	font-size:1.125em;
	word-break:keep-all;
	text-align:left;
}
.cp2voice1select1 .select{
	position:relative;
	width:100%;
	height:40px;
	margin:0;
	padding:.625em calc(12% + 13px) .625em .625em;
	border-radius:10px;
	background:#f3f6fd url(../../img/lib2/ic26a1c2a1down1.png) no-repeat 94% center / 13px;
	color:#7a90a9;
}
/*  */
.cp2voice1select1 input[type='radio']:checked ~ .w1{
	border-color:transparent;
	background:#0065dd;
	color:#fff;
}
/* ◇◆ */
@media all and (min-width:768px){
	.cp2voice1select1 .w1{
		padding:1.125em 1.625em;
	}
	.cp2voice1select1 .tg1{
		white-space:nowrap;
	}
}


/* 문장입력 20221111 */
.cp2text1input1{
	position:relative;
	max-width:1346px;
	margin:1.625em auto;
	color:#181c20;
}
.cp2text1input1 .tg1 .t1{
	display:block;
	margin:0 0 .625rem;
	font-size:1em;
	line-height:1.375;
	word-break:keep-all;
}
.cp2text1input1 .textarea{
	color:inherit;
	font-size:1.125em;
}
.cp2text1input1 .tg2{
	display:block;
	margin:0 .25em;
	color:#7a90a9;
	font-size:13px;
	line-height:1.375;
	text-align:right;
}
/* ◇◆ */
@media all and (min-width:768px){
	.cp2text1input1 .tg1 .t1{
		font-size:1.25em;
	}
}


/* 대형전광판 (Bigbox for Special Info) 20221202 */
.cp2jumbotron1{
	position:relative;
	max-width:1346px;
	margin:0 auto;
	padding:calc(18px + 4.286%) 6.25%; /* (18+(12/280)) (20/280) */
	padding:calc(18px + 4.286%) 0;
	/* border:1px solid #ddd; */
	/* background:#fcfcfc; */
	text-align:center;
	word-wrap:break-word;
	word-break:keep-all;
}
.cp2jumbotron1 .tg1{}
.cp2jumbotron1 .f1{
	margin:1.5rem 0;
}
.cp2jumbotron1 .btns{
	display:flex; /* ☆ */
	justify-content:center;
	margin:1.5rem 0;
}
.cp2jumbotron1 .tg1 .t1{
	display:block;
	margin:1.5rem 0;
	color:#181c20;
	font-size:1.5em;
	line-height:1.375;
}
.cp2jumbotron1 .ic1.indy{
	width:50px;
	height:50px;
	margin:.375em;
	background:url() no-repeat center center / contain;
}
.cp2jumbotron1 .ic1.indy.ing,
.cp2jumbotron1 .ic1.indy.play{
	animation:kf1blink1 linear .5s infinite alternate;	
}
.cp2jumbotron1 .ic1.indy.ok{}
/*  */
.cp2jumbotron1 .ic1.indy.error{width:50px;height:50px;background-image:url(../../img/lib2/ic100a1c2error1.png);}
.cp2jumbotron1 .ic1.indy.audio1ing1,
.cp2jumbotron1 .ic1.indy.tts1ing1compose1,
.cp2jumbotron1 .ic1.indy.sst1ing2convert1{width:50px;height:50px;background-image:url(../../img/lib2/ic100a1c2audio1wave1.png);}
.cp2jumbotron1 .ic1.indy.tts1ing2play1{width:50px;height:50px;background-image:url(../../img/lib2/ic100a1c2audio1wave2.png);}
.cp2jumbotron1 .ic1.indy.tts1ok1{width:50px;height:50px;background-image:url(../../img/lib2/ic100a1c2audio1check1.png);}
.cp2jumbotron1 .ic1.indy.vision1ing1{width:50px;height:50px;background-image:url(../../img/lib2/ic100a1c2vision1.png);}
.cp2jumbotron1 .ic1.indy.language1ing1{width:50px;height:50px;background-image:url(../../img/lib2/ic100a1c2language1.png);}
.cp2jumbotron1 .ic1.indy.video1ing1{width:50px;height:50px;background-image:url(../../img/lib2/ic100a1c2video1.png);}


/* 활용사례 20221125 */
.cp2use1{
	max-width:1346px;
	margin:0 auto;
	word-wrap:break-word;
	word-break:keep-all;
}
.cp2use1 .lst1{
	list-style:none;
	position:relative;
	margin:0;
	padding:0;
	line-height:1.5;
}
.cp2use1 .li1{
	padding:1.5em 0;
}
.cp2use1 .li1~.li1{
	border-top:1px solid #bdc6dc;
}
.cp2use1 .li1 .t1{
	display:inline-block;
	padding:.0625em .375em;
	border:1px solid #0065dd;
	color:#0065dd;
	font-size:.9375em;
}
.cp2use1 .li1 .t2{
	display:block;
	width:8em;
	margin:.75rem 0;
	font-weight:600;
	font-size:1.5em;
}
.cp2use1 .li1 .t3{
	display:block;
	margin:0;
	color:#666;
	font-size:1em;
}
/* ◇◆ */
@media all and (min-width:768px){
	.cp2use1 .li1{
		display:flex; /* ☆ */
		align-items:center;
		padding:2.5em 0;
	}
	.cp2use1 .w1{
		flex:none;
	}
	.cp2use1 .li1 .t2{
		margin:.75rem 2em 0 0;
	}
	.cp2use1 .li1 .t3{
		font-size:1.1875em;
	}
}


/* 매뉴얼 20221104 */
.cp2manual1{
	max-width:1346px;
	margin:0 auto;
}
.cp2manual1 .tt1{
	font-weight:600;
	font-size:1.5rem;
}
.cp2manual1 .tt2{
	color:#0065dd;
	font-weight:400;
	font-size:1em;
}
.cp2manual1 .tg1{
	border-top:1px solid #bdc6dc;
	border-bottom:1px solid #bdc6dc;
}
.cp2manual1 .tg2{
	margin:0 0 0 1em;
}
.cp2manual1 .lst1{}
/* ◇◆ */
@media all and (min-width:768px){
	.cp2manual1{
		font-size:1.125em;
	}
}


/* 설정선택배치(버튼형라디오) 20221111 */
.cp2set1{
	position:relative;
	margin:10px 0 calc(16px + 2.526%); /* (16 + 34/1346) */
	padding:0 0 calc(16px + 2.526%);
	border-bottom:1px solid #7a90a9;
	text-align:center;
}
.cp2set1 .tg1 .t1{
	font-size:1.25em;
	word-wrap:break-word;
	word-break:keep-all;
}
.cp2set1 .cont{
	display:flex; /* ☆ */
	justify-content:center;
	align-items:center;
	position:relative;
}
.cp2set1 .item{ /* label */
	display:block;
	position:relative;
	width:100%;
	max-width:150px;
	margin:0 .5em;
	overflow:hidden;
}
.cp2set1 input[type='radio']{
	position:absolute;
	left:-9999px;
}
.cp2set1 .item .t1{
	flex:1;
	display:flex; /* ☆ */
	justify-content:center;
	align-items:center;
	box-sizing:border-box; /* ☆ */
	height:3.75rem;
	border:1px solid #7a90a9;
	color:#7a90a9;
	font-size:1.125em;
}
/*  */
.cp2set1 input[type='radio']:checked ~ .t1{
	border-color:transparent;
	background:#0065dd;
	color:#fff;
}


/* 설정선택배치(이미지) 20221111 */
.cp2set2{
	position:relative;
	margin:calc(16px + 2.526%) 0 0;
	text-align:center;
}
.cp2set2 .cont{
	margin:0 0 2.5em;
}
.cp2set2 .item{
	width:100%;
	max-width:400px;
	text-align:left;
	margin:0 0 1em;
}
.cp2set2 .item .label{
	display:flex; /* ☆ */
	align-items:center;
	font-size:1.25em;
}
.cp2set2 input[type='radio']{
	margin-right:.5em;
}
.cp2set2 .item .label .t1{}
/*  */
.cp2set2 .item .p1{
	display:block;
	width:100%;
	height:100%;
	object-fit:contain;
}
.cp2set2 .b1{
	height:40px;
}
/* ◇◆ */
@media all and (min-width:768px){
	.cp2set2 .cont{
		display:flex; /* ☆ */
		justify-content:center;
		position:relative;
		margin:0 0 1.5em;
	}
	.cp2set2 .item{
		margin:0 1em 1em;
	}
}


/* 샘플이미지 20221111 */
.cp2sample1img1{
	z-index:0;
	position:relative;
	margin:0 auto;
	background:#f3f6fd;
	line-height:1.375;
	text-align:center;
}
.cp2sample1img1 .w1{
	padding:0 0 100%;
}
.cp2sample1img1 .w1w1{
	position:absolute;left:0;right:0;top:0;bottom:0;
	background:#f3f6fd url(../../img/lib2/ic180a2c2img1.png) no-repeat 50% 50% / 22.5%;
}


/* 내이미지파일업로드 20221125 */
.cp2my1img1{
	z-index:0;
	position:relative;
	margin:0 auto;
	background:#f3f6fd;
	text-align:center;
}
.cp2my1img1 .w1{
	padding:0 0 100%;
}
.cp2my1img1 .w1w1{
	display:flex; /* ☆ */
	flex-direction:column;
	justify-content:space-between;
	position:absolute;left:0;right:0;top:0;bottom:0;
	background:#f3f6fd;
}
/*  */
.cp2my1img1 .preview{
	visibility:hidden;
}
.cp2my1img1 .preview.on{
	visibility:visible;
}
.cp2my1img1 .w1file{
	flex:1;
	display:flex; /* ☆ */
	justify-content:center;
	align-items:center;
}
.cp2my1img1 .w1file .file{
	z-index:10;
	position:absolute;left:0;right:0;top:0;bottom:0;
	height:auto;
	margin:0;
	opacity:0;
}
.cp2my1img1 .file:hover ~ .b1{
	opacity:.9;
}
.cp2my1img1 .tg1{
	flex:none;
	padding:1.5em;
	color:#7a90a9;
	font-size:.875em;
	text-align:left;
}
/*  */
.cp2my1img1 .tg2{
	flex:none;
	padding:1.5em;
	font-size:1.125em;
	text-align:left;
}
/* ◇◆ */
@media all and (min-width:768px){
	.cp2my1img1 .tg1{
		font-size:1em;
	}
}


/* 결과.텍스트 (JS-OCR) 20221111 */
.cp2result1text1{
	z-index:0;
	position:relative;
	margin:0 auto;
	background:#f3f6fd;
	line-height:1.375;
	text-align:center;
}
.cp2result1text1 .w1{
	padding:0 0 100%;
}
.cp2result1text1 .w1w1{
	display:flex; /* ☆ */
	flex-direction:column;
	justify-content:space-between;
	position:absolute;left:0;right:0;top:0;bottom:0;
	background:#f3f6fd;
}
.cp2result1text1 .tg1{
	padding:1.5em;
	overflow:hidden;
	overflow-y:auto;
	font-size:1em;
	text-align:left;
}
.cp2result1text1 .fg1{
	padding:0 1.5em 1.5em;
	flex:none;
	font-size:1.125em;
	text-align:center;
}


/* 샘플문장선택 20221111 */
.cp2text1set1{
	position:relative;
	margin:10px 0 calc(16px + 2.526%); /* (16 + 34/1346) */
}
.cp2text1set1 .tg1 .t1{
	display:block;
	margin:0 0 .625rem;
	font-size:1em;
	line-height:1.375;
	word-break:keep-all;
}
.cp2text1set1 .cont{
	margin:.375em 0;
	padding:calc(10px + 1.783%); /* (10 + 24/1346) */
	border:1px solid #333;
}
/* .cp2text1set1 .cont.cp1fcontrol1.mline{} */
.cp2text1set1 .item{ /* label */
	font-size:1em;
}
.cp2text1set1 input[type='radio']{}
.cp2text1set1 .item .t1{}
/* ◇◆ */
@media all and (min-width:768px){
	.cp2text1set1 .tg1 .t1{
		font-size:1.25em;
	}
	.cp2text1set1 .item{
		font-size:1.25em;
	}
}


/* 갤러리 20221111 */
.cp2gallery1{
	position:relative;
}
.cp2gallery1 .even-grid{
	margin:.833% -.833%; /* (20/1200/2) */
}
.cp2gallery1 .even-grid>.column{
	width:12.5%;
	padding:0.819%; /* (.833*(100/(100+.833*2))) */
}
.cp2gallery1 .a1{
	position:relative;
	display:block;
	padding:0 0 100%;
}
.cp2gallery1 .f1{
	position:absolute;left:0;right:0;top:0;bottom:0;
}
.cp2gallery1 .p1{
	display:block;
	width:100%;
	height:100%;
	object-fit:cover;
}


/* 문장교정전후 20221111 */
.cp2before1after1{
	position:relative;
	margin:2em 0;
}
.cp2before1after1 .w1{
	position:relative;
	margin:0 0 1.875em;
	padding:1.25em;
	border:1px solid #333;
}
.cp2before1after1 .tt1{
	display:inline-block; /* ☆ */
	margin:0 0 .75em;
	padding:.25em 1em .1875em;
	background:#7a90a9;
	color:#fff;
	font-weight:400;
	font-size:.9375em;
	line-height:1.375;
	text-align:center;
}
.cp2before1after1 .before .tt1{background:#7a90a9;}
.cp2before1after1 .after .tt1{background:#0065dd;}
/* ◇◆ */
@media all and (min-width:768px){
	.cp2before1after1 .tt1{
		font-size:1.125em;
	}
	.cp2before1after1 .cont{
		font-size:1.25em;
	}
}


/* 결과.테이블 (자연어 이해) 20221111 */
.cp2result1table1{
	position:relative;
	margin:2em 0 calc(16px + 2.526%); /* (16 + 34/1346) */
	text-align:center;
}
.cp2result1table1 .w1{}
.cp2result1table1 .tt1{
	display:inline-block; /* ☆ */
	margin:0 0 .75em;
	padding:.25em 1em .1875em;
	/* background:#7a90a9;
	color:#fff; */
	font-weight:400;
	line-height:1.375;
}
.cp2result1table1 .cont{ /* .fscroll1-xy */
	position:relative;
	margin:0 0 1.875em;
	padding:0 0 6px;
	/* border:1px solid #333; */
	overflow:hidden;
	overflow-x:auto;
}
.cp2result1table1 .w1table{
	float:left;
	box-sizing:border-box; /* ☆ */
	min-width:100%;
	border:1px solid #333;
}
.cp2result1table1 table[class]{
	/* border:1px solid #333; */
	width:100%;
	white-space:nowrap;
}
.cp2result1table1 table[class] th,
.cp2result1table1 table[class] td{
	padding:.75em;
	border:1px solid #a9b1c5;
	border-width:1px 0 0 1px;
	background:#fff;
	line-height:1.375;
	text-align:center;
}
.cp2result1table1 table[class] thead th{
	border-top:0;
	background:#fafbfd;
}
.cp2result1table1 table[class] th:first-child{
	border-left:0;
	background:#f3f6fd;
}
/* ◇◆ */
@media all and (min-width:768px){
	.cp2result1table1 .tt1,
	.cp2result1table1 table[class]{
		font-size:1.25em;
	}
}


/* 결과.텍스트 (AI 질의응답) 20221111 */
.cp2result1text2{
	position:relative;
	margin:2em 0 calc(16px + 2.526%); /* (16 + 34/1346) */
	text-align:center;
}
.cp2result1text2 .w1{}
.cp2result1text2 .tt1{
	display:inline-block; /* ☆ */
	margin:0 1.75rem .75em;
	font-weight:400;
	line-height:1.375;
}
.cp2result1text2 .cont{
	position:relative;
	padding:1.375rem 1.75rem;
	background:#f3f6fd;
	text-align:left;
}
/* .type2 */
.cp2result1text2.type2{
	text-align:left;
}
/* ◇◆ */
@media all and (min-width:768px){
	.cp2result1text2 .tt1{
		font-size:1.25em;
	}
	.cp2result1text2 .cont{
		font-size:1.125em;
	}
}


/* 영상정보수집 20221111 */
.cp2write1{
	position:relative;
	max-width:910px;
	margin:2.5em auto;
	line-height:1.375;
}
.cp2write1 ul{
	list-style:none;margin:0;padding:0;
}
.cp2write1 .dl1{}
.cp2write1 .di1{
	margin:0 0 1em;
}
.cp2write1 .dt1{
	font-weight:600;
}
.cp2write1 .dd1{}
.cp2write1 .dl2{
	margin:1em 0;
	padding:0;
}
.cp2write1 .di2{
	margin:0 0 .75em;
}
.cp2write1 .dt2{
	margin:0 0 .5em;
	color:#0065dd;
	font-weight:400;
}
.cp2write1 .dd2{}
.cp2write1 .label-it{
	display:inline-flex; /* ☆ */
	align-items:center;
	min-width:6em;
	margin:0 1em 0 0;
	padding:0;
}
.cp2write1 .label-it .t1{
	margin:0 0 0 .25em;
}
.cp2write1 .fg1{
	position:relative; /* 진행바 위치기준 */
	text-align:center;
}
.cp2write1 .b1.submit{}
/* ◇◆ */
@media (min-width:768px){
	.cp2write1{
		font-size:1.25em;
	}
}


/* 영상정보수집.탭 20221111 */
.cp2cnb1{
	position:relative;
	margin:2em 0;
	line-height:1.375;
}
.cp2cnb1 ul{
	display:flex; /* ☆ */
	flex-wrap:wrap;
	list-style:none;
	margin:-.25em;
	padding:0;
}
.cp2cnb1 li{
	display:flex; /* ☆ */
	width:50%;
}
.cp2cnb1 a{
	flex:1;
	display:flex; /* ☆ */
	justify-content:center;
	align-items:center;
	min-width:0;
	margin:.25em;
	padding:.625em .8125em;
	border:1px solid #ddd;
	color:#666;
	font-size:.875em;
	text-align:center;
	text-decoration:none !important;
	word-wrap:break-word;
	word-break:keep-all;
}
.cp2cnb1 .t1{
	display:block;
	text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;	
}
/*  */
.cp2cnb1 a:hover,
.cp2cnb1 a:focus{
	color:#000;
}
.cp2cnb1 li.on a{
	position:relative;
	border-color:#0065dd;
	color:#0065dd;
	font-weight:500;
}
/* ◇◆ */
@media all and (min-width:768px){
	.cp2cnb1 li{
		width:20%;
	}	
}


/* 영상정보수집.결과배치 20221111 */
.cp2vghost1{
	position:relative;
	margin:2em 0 calc(16px + 2.526%); /* (16 + 34/1346) */
	word-wrap:break-word;
}
.cp2vghost1 .h1{
	margin:1em 0 .375em;
	color:#000;
	font-size:1.625em;
}
/* 변환결과 */
.cp2vghost1 .result{
	position:relative;
}
.cp2vghost1 .result .column{
	flex:1;
	display:flex; /* ☆ */
	flex-direction:column;
}
.cp2vghost1 .result .column~.column{
	flex:none;
}
.cp2vghost1 .result .gg1{
	flex:1;
	display:flex; /* ☆ */
	flex-direction:column;
}
.cp2vghost1 .result .tt1{
	display:block;
	margin:1em 0 .25em;
	padding:1.125rem;
	background:#f3f6fd;
	font-size:1.25em;
	text-align:center;
}
/* ◇◆ */
@media (min-width:768px){
	.cp2vghost1 .result{}
	.cp2vghost1 .result .column{
		padding:0 calc(46% + 1.5em) 1.5em 0;
		border:0;
	}
	.cp2vghost1 .result .column~.column{
		position:absolute;right:0;top:0;bottom:0;
		box-sizing:border-box; /* ☆ */
		width:46%;
		padding:0 0 1.5em;
		border:0;
	}
	.cp2vghost1 .result .column~.column .gg1{
		display:flex; /* ☆ */
		flex-direction:column;
		position:absolute;left:0;right:0;top:0;bottom:0;
		box-sizing:border-box; /* ☆ */
		padding:0 0 1.5em;
	}
	.cp2vghost1 .result .column~.column .tt1{
		flex:none;
	}
	.cp2vghost1 .result .column~.column .cp2reply1{
		flex:1;
		box-sizing:border-box; /* ☆ */
	}
}


/* 영상정보수집.결과목록 20221111 */
.cp2info1{
	position:relative;
	font-size:1.125em;
	line-height:1.375;
	text-align:left;
}
.cp2info1 .dl1{
	list-style:none;
	margin:.5em 0 1.25em;
	padding:0;
}
.cp2info1 .di1{
	padding:.75em 0;
	border-bottom:1px solid #e7e7e7;
}
.cp2info1 .dt1{
	display:block;
	margin:.25em 0;
	color:#333;
	font-weight:500;
}
.cp2info1 .dd1{
	display:block;
	margin:.25em 0;
	color:#888;
}
/* ◇◆ */
@media (min-width:768px){
	.cp2info1 .di1{
		display:flex; /* ☆ */
		padding:.75em 1em;
	}
	.cp2info1 .dt1{
		flex:none;
		width:7em;
	}
	.cp2info1 .dd1{
		flex:1;
		min-width:0;
		word-wrap:break-word;
	}
}


/* 영상정보수집.영상댓글 20221111 */
.cp2reply1{
	position:relative;
	color:#666;
	font-size:.875em;
	font-size:1em;
	line-height:1.375;
	text-align:left;
}
.cp2reply1 .h1{
	display:block;
	position:relative;
	padding:0 0 0 .75em;
	color:#333;
}
.cp2reply1 .h1:before{content:'';
	display:block;
	position:absolute;left:0;top:0;
	width:.25em;
	height:.875em;
	margin:.25em 0;
	background:#06b6d4;
}
.cp2reply1 .dl1{
	list-style:none;
	margin:.5em 0 1.25em;
	padding:0;
}
.cp2reply1 .di1{
	padding:.75em 0;
	border-bottom:1px solid #e7e7e7;
}
.cp2reply1 .dt1{
	display:inline-block;
	position:relative;
	color:#333;
	font-weight:500;
	vertical-align:middle;
}
.cp2reply1 .dt1:after{content:':';
	margin:0 .125em 0 .25em;
	color:#888;
}
.cp2reply1 .dd1{
	display:inline-block;
	margin:.25em .75em .25em 0;
	color:#888;
	vertical-align:middle;
}
.cp2reply1 .dt1:last-of-type{
	position:absolute;
	left:-9999px;
}
.cp2reply1 .dd1:last-of-type{
	display:block;
	margin:.25em 0;
}
/* ◇◆ */
@media (min-width:768px){
	.cp2reply1 .di1{
		padding:.75em 1em;
	}
}


/* 업로드제한설명 (STT) 20221111 */
.cp2t1{
	position:relative;
	color:#7a90a9;
	line-height:1.375;
	text-align:left;
}
/* ◇◆ */
@media (min-width:768px){
	.cp2t1{
		font-size:1.125em;
	}
}


/* 파일업로드 버튼 20221111 */
.cp2b1upload1.button.type1{
	display:inline-flex; /* ☆ */
	position:relative;
	border:0;
}
.cp2b1upload1 input[type='file']{
	z-index:10;
	position:absolute;left:0;right:0;top:0;bottom:0;
	margin:0;
	opacity:0;
}
.cp2b1upload1 .button{
	margin:0;
}
/* ◇◆ */
@media (min-width:768px){
	.cp2b1upload1{
		font-size:1.125em;
	}
}


/* 녹음시작/완료 (Audio) 20221118 */
.cp2record1{
	position:relative;
	margin:calc(16px + 2.526%) auto 0; /* (16 + 34/1346) */
	text-align:center;
}
.cp2record1 .b1{
	display:block;
	width:80px;
	height:80px;
	margin:0 auto;
	border:0;
	border-radius:9999px;
	background:none;
	overflow:hidden;
	text-indent:-9999px;
}
.cp2record1 .b1 .bg1{
	display:block;
	position:absolute;left:0;right:0;
	top:0;
	border-top:80px solid #181c20;
	border-bottom:80px solid #0065dd;
	transition:0s;
}
.cp2record1 .b1 .ic1{
	display:block;
	position:absolute;left:50%;top:50%;
	width:50px;height:50px;
	margin:-25px;
	background:url(../../img/lib2/ic100a1c0mic1.png) no-repeat center center / contain;
}
/* .cp2record1 .b1.recording .bg1{ ))) JS
	top:-100%;
	transition:10s linear;
} */
.cp2record1 .audio{
	display:none;
}


/* 녹음시작/완료 버튼과 도움말 (Education) 20221118 */
.cp2record2{
	display:flex; /* ☆ */
	flex-direction:column-reverse;
	justify-content:center;
	align-items:center;
	position:relative;
	margin:calc(16px + 2.526%) auto 0; /* (16 + 34/1346) */
	text-align:center;
}
.cp2record2 .b1record1{
	display:block;
	width:80px;
	height:80px;
	margin:0 auto;
	border:0;
	border-radius:9999px;
	background:none;
	overflow:hidden;
	text-indent:-9999px;
}
.cp2record2 .b1record1 .bg1{
	display:block;
	position:absolute;left:0;right:0;
	top:0;
	border-top:80px solid #181c20;
	border-bottom:80px solid #0065dd;
	transition:0s;
}
.cp2record2 .b1record1 .ic1{
	display:block;
	position:absolute;left:50%;top:50%;
	width:50px;height:50px;
	margin:-25px;
	background:url(../../img/lib2/ic100a1c0mic1.png) no-repeat center center / contain;
}
/* .cp2record2 .b1record1.recording .bg1{ ))) JS
	top:-100%;
	transition:10s linear;
} */
.cp2record2 .audio{
	display:none;
}
/* 도움말 */
.cp2record2 .tg1 .t1{
	display:block;
	margin:1.5rem 0 0;
}
/* ◇◆ */
@media all and (min-width:768px){
	.cp2record2 .tg1 .t1{
		font-size:1.25em;
	}
}


/* 말하기(단어,구문,문장) 20221118 */
.cp2speak1{
	position:relative;
	margin:calc(6px + 1.783%) auto; /* (6 + 24/1346) */
}
.cp2speak1 .direction{
	margin:0 0 .375em;
	font-size:1.25em;
}
.cp2speak1 .box{
	padding:calc(20px + 1.783%) calc(16px + 1.783%); /* (20 + 24/1346) (16 + 24/1346) */
	border:1px solid #333;
	text-align:center;
}
/*  */
.cp2speak1 .step{
	display:flex; /* ☆ */
	justify-content:center;
	margin:0 -.3125em 2.5em;
	line-height:1.375;
}
.cp2speak1 .step .a1{
	display:inline-block;
	margin:0 .3125rem;
	padding:.5625rem 1rem;
	background:#7a90a9;
	color:#fff;
	font-weight:600;
}
.cp2speak1 .step .a1.on{
	background:#0065dd;
}
/*  */
.cp2speak1 .score{
	display:none;
	margin:2.5em 0 1.25em;
	line-height:1;
	text-align:center;
}
.cp2speak1 .score .t1{
	display:block;
	color:#0065dd;
	font-weight:600;
	font-size:1.875em;
}
.cp2speak1 .score .t2{
	display:block;
	color:#0065dd;
	font-weight:700;
	font-size:5em;
	font-family:Pretendard,Lato,Roboto,sans-serif;
}
/*  */
.cp2speak1 .cp2fg1{
	display:none;
}
/*  */
.cp2speak1[data-st='analyzing'] .cp2record2 .b1record1{
	animation:kf1blink1 linear .5s infinite alternate;
}
/* ◇◆ */
@media all and (min-width:768px){
	.cp2speak1 .step .a1{
		padding:.5625rem 1.625rem;
		font-size:1.125em;
	}
}


/* 단어,구문,문장 말하기 문제 20221118 */
.cp2question1{
	position:relative;
	line-height:1.375;
	text-align:left;
}
.cp2question1 .q1{
	display:none;
}
.cp2question1 .q1.on{
	display:flex; /* ☆ */
	justify-content:center;
	align-items:center;
}
.cp2question1 .b1q1play1{
	display:inline-block;
	width:40px;height:40px;
	background:url(../../img/lib2/ic80a1c1speaker1.png) no-repeat center center / contain;
	overflow:hidden;
	text-indent:-9999px;
}
.cp2question1 .text1q1{
	margin:0 0 0 .25em;
	color:#181c20;
	font-weight:600;
	font-size:2.5em;
}
.cp2question1 .text1q1 .t1{}
/* 단어구 분리기호(/)와 버튼 재배치 */
.cp2question1 .text1q1 .t1t1{
	display:inline-block;
	position:relative;
	cursor:default;
}
.cp2question1 .text1q1 .t1t1.on{
	/* color:#06c; */
}
.cp2question1 .text1q1 .t1t1:after{content:'/';
	display:inline-block;
	margin:0 .25em;
	color:#777;
	font-weight:100;
	font-family:sans-serif;
	opacity:.5;
}
.cp2question1 .text1q1 .t1t1:last-child:after{
	opacity:0;
}
.cp2question1 .text1q1 .b1{
	display:none;
	position:absolute;left:50%;top:100%;
	height:auto;
	padding:.5em 1.375em;
	border:0;
	border-radius:9999px;
	background:#0065dd;
	color:#fff;
	font-size:1rem;
	transform:translate(-50%, 0);
}
.cp2question1 .text1q1 .sn{
	display:inline-flex; /* ☆ */
	justify-content:center;
	align-items:center;
	position:absolute;left:50%;top:0;
	box-sizing:border-box; /* ☆ */
	width:1.75em;
	height:1.75em;
	padding:.125em 0 0;
	border-radius:9999px;
	background:#06c;
	color:#fff;
	font-size:12px;
	letter-spacing:0;
	opacity:0;
	transform:translate(-120%, -15%);
}
.cp2question1 .text1q1 .on .sn{
	opacity:.5;
}
/* .type2 */
.cp2question1.type2 .text1q1{
	font-size:1.5em;
}
/* .type3 */
.cp2question1.type3 .q1{
	margin:0 0 2em;
}
.cp2question1.type3 .text1q1{
	margin:0 0 0 .5em;
}
/* ◇◆ */
@media all and (min-width:768px){
	.cp2question1[class] .text1q1{
		font-size:2.5em;
	}
}


/* 질문 답하기 문제 20221118 */
.cp2question2{
	position:relative;
	line-height:1.375;
}
.cp2question2 .q1{
	display:none;
}
.cp2question2 .q1.on{
	display:inline-block;
}
.cp2question2 .w1{
	display:flex; /* ☆ */
	align-items:center;
	margin:0 auto 0 0;
}
.cp2question2 .w2{
	display:flex; /* ☆ */
	flex-direction:row-reverse;
	align-items:center;
	margin:calc(18px + 1.337%) 0 0 auto; /* (18 + 18/1346) */
}
.cp2question2 .ic1{
	flex:none;
	display:inline-block;
	width:40px;
	height:40px;
	background:url() no-repeat center center / contain;
}
.cp2question2 .w1 .ic1{background-image:url(../../img/lib2/ic160a1c2robot1.png);}
.cp2question2 .w2 .ic1{background-image:url(../../img/lib2/ic160a1c2person1.png);}
.cp2question2 .tbox{
	display:flex; /* ☆ */
	align-items:center;	
	position:relative;
	margin:0 .75em;
	padding:.75em 1em;
	border-radius:10px;
	background:#181c20;
	color:#fff;
	text-align:left;
}
.cp2question2 .tbox:before{content:''; /* ◁ */
	display:inline-block;
	position:absolute;left:0;top:50%;
	width:0;height:0;
	margin:-6px -8px;
	border:0 solid transparent;
	border-width:6px 8px 6px 0;
	border-right-color:#181c20;
}
.cp2question2 .w2 .tbox{
	background:#0065dd;	
}
.cp2question2 .w2 .tbox:before{content:''; /* ◁ */
	left:auto;right:0;
	border-right-color:#0065dd;
	transform:rotate(180deg);
}
/*  */
.cp2question2 .b1q1play1{
	display:inline-block;
	width:40px;height:40px;
	background:url(../../img/lib2/ic80a1c0speaker1.png) no-repeat center center / contain;
	overflow:hidden;
	text-indent:-9999px;
}
.cp2question2 .text1q1,
.cp2question2 .text1a1{
	margin:0 0 0 .75em;
	font-size:1em;
}
.cp2question1 .text1q1 .t1{}
.cp2question1 .text1a1 .t1{}
/* ◇◆ */
@media all and (min-width:768px){
	.cp2question2 .ic1{
		width:80px;
		height:80px;
	}
	.cp2question2 .tbox{
		margin:0 1.625em;
		padding:1.75em 2.375em;
	}
	.cp2question2 .tbox:before{
		margin:-12px -16px;
		border-width:12px 16px 12px 0;
	}
	.cp2question2[class] .text1q1,
	.cp2question2[class] .text1a1{
		font-size:1.5em;
	}
}


/* 설정선택배치+결과(음성정제..) 20221202 */
.cp2set3{
	z-index:0;
	position:relative;
	margin:0 auto;
	line-height:1.375;
	text-align:center;
}
.cp2set3 .h1{
	font-weight:400;
	font-size:1.25em;
}
.cp2set3 .cont{
	display:flex; /* ☆ */
	justify-content:center;
	margin:0 -1%; /* ((13/1346) */
}
.cp2set3 .item{
	display:flex; /* ☆ */
	flex-direction:column;
	position:relative;
	width:100%;
	max-width:290px;
	margin:0 1%; /* ((13/1346) */
}
.cp2set3 .label{
	display:flex; /* ☆ */
	justify-content:center;
	align-items:center;
	font-size:1.25em;
}
.cp2set3 .label:before{content:'';
	display:block;
	z-index:10;
	position:absolute;left:0;right:0;top:0;bottom:0;
	background:#0ff0;
}
.cp2set3 input[type='radio']{
	margin:.625em 0;
}
.cp2set3 .label .t1{
	margin:0 0 0 .375em;
	word-break:keep-all;
}
/* 결과 */
.cp2set3 .tt1{
	display:flex; /* ☆ */
	align-items:center;
	margin:.375em 0;
	font-weight:400;
	font-size:1.25em;
}
.cp2set3 .tt1 .ic1{
	width:1.125rem;
	height:1.125rem;
	margin:0 .375em 0 0;
	background:url(../../img/lib2/ic36a1c2paper1.png) no-repeat center center / contain;
}
.cp2set3 .cp2player1{
	flex:1;
}
/* .type2 */
.cp2set3.type2{
	margin-bottom:calc(16px + 2.526%); /* (16 + 34/1346) */
}
/* ◇◆ */
@media all and (min-width:768px){
}


/* 오디오플레이어(음성정제) 20221202 */
.cp2player1{
	position:relative;
	padding:2.125em .6875em 1.75em;
	border:1px solid #7a90a9;
	color:#7a90a9;
	text-align:center;
}
.cp2player1 .w1{}
.cp2player1	.progress{
	display:block;
	height:10px;
	border-radius:9999px;
	background:#f3f6fd;
	overflow:hidden;
}
.cp2player1	.progress .bar{
	display:block;
	width:0;
	height:100%;
	border-radius:9999px;
	background:#0065dd;
}
.cp2player1	.time{
	display:flex; /* ☆ */
	justify-content:space-between;
	align-items:center;
	margin:.5em 0 .8125em;
}
.cp2player1	.time .sep{
	display:none;
}
/* 제어 */
.cp2player1 .controls .b1{
	display:inline-block;
	z-index:10;
	position:relative;
	width:40px;
	height:40px;
	margin:0 auto;
	border:0;
	border-radius:9999px;
	background:#181c20;
	color:#fff;
	overflow:hidden;
	text-indent:-9999px;
}
.cp2player1	.b1.play .ic1{
	display:inline-block;
	position:absolute;left:50%;top:50%;
	width:0;height:0;
	margin:-9px -5px;
	border:0 solid transparent;
	border-width:9px 0 9px 14px;
	border-left-color:#fff;
}
.cp2player1	.b1.pause{
	background:#0065dd;
}
.cp2player1	.b1.pause .ic1{
	display:inline-block;
	position:absolute;left:50%;top:50%;
	width:12px;
	height:16px;
	margin:-8px -6px;
}
.cp2player1	.b1.pause .ic1:before{content:'';
	position:absolute;left:0;top:0;bottom:0;
	width:3px;
	background:#fff;
}
.cp2player1	.b1.pause .ic1:after{content:'';
	position:absolute;right:0;top:0;bottom:0;
	width:3px;
	background:#fff;
}
.cp2player1.play:not(.pause) .b1.play,
.cp2player1:not(.play) .b1.pause,
.cp2player1.pause .b1.pause{
	display:none;
}
.cp2player1	.b1:hover,
.cp2player1	.b1:focus{
	background-color:#0065dd;
}
/* 버튼 */
.cp2player1 .btns{
	margin:calc(16px + 9.302%) 0 0; /* (16 + 20/215) */
}
.cp2player1 .btns	.b1{
	margin:0;
	height:40px;
}
/* ◇◆ */
@media all and (min-width:768px){
	.cp2player1{
		padding:2.125em 1.6875em 1.75em;
	}
}


/* 내(음성)파일업로드 (음성정제,음성합성) 20221202 */
.cp2my1file1{
	/* z-index:0; */
	position:relative;
	margin:2em 0 calc(16px + 2.526%); /* (16 + 34/1346) */
	padding:calc(16px + 1.040%) calc(16px + 1.783%); /* (16 + 14/1346) (16 + 24/1346) */
	background:#f3f6fd;
}
.cp2my1file1 .label{
	display:flex; /* ☆ */
	align-items:center;
	margin:0 0 .375em;
	font-size:1.25em;
}
.cp2my1file1 .label:before{content:'';
	display:block;
	z-index:10;
	position:absolute;left:0;right:0;top:0;bottom:0;
	background:#0ff0;
}
.cp2my1file1 input[type='radio']{
	margin:0;
}
.cp2my1file1 .label .t1{
	margin:0 0 0 .375em                                                   ;
	word-break:keep-all;
}
.cp2my1file1 .w1{
	position:relative;
	overflow:hidden;
}
.cp2my1file1 .w1w1{
	display:flex; /* ☆ */
	flex-direction:column;
	justify-content:space-between;
}
/*  */
.cp2my1file1 .preview{
	visibility:hidden;
	justify-content:center;
	align-items:center;
	position:absolute;left:0;right:0;top:0;bottom:0;
	padding:1em;
	border:1px solid #7a90a9;
	background:#f3f6fd;
	line-height:1.375;
	word-break:break-all; /* ☆ */
}
.cp2my1file1 .preview.on{
	visibility:visible;
}
.cp2my1file1 .w1file{
	flex:1;
	display:flex; /* ☆ */
	justify-content:center;
	align-items:center;
	margin:1em 0;
}
.cp2my1file1 .w1file .file{
	z-index:10;
	position:absolute;left:0;right:0;top:0;bottom:0;
	height:auto;
	margin:0;
	opacity:0;
}
.cp2my1file1 .b1{
	height:40px;
}
.cp2my1file1 .file:hover ~ .b1{
	opacity:.9;
}
.cp2my1file1 .tg1{
	flex:none;
	margin:.75em 0 0;
	color:#7a90a9;
	font-size:.875em;
	text-align:left;
}
/* .type2(음성합성) */
.cp2my1file1.type2{
	margin:0;
}
/* ◇◆ */
@media all and (min-width:768px){
	.cp2my1file1 .w1w1{
		flex-direction:row-reverse;
	}
	.cp2my1file1 .w1file{
		justify-content:flex-end;
	}
	.cp2my1file1 .tg1{
		font-size:1em;
	}
	.cp2my1file1.type2 .w1w1:not(.preview){
		display:block; /* ☆ */
	}
	.cp2my1file1.type2 .w1file{
		justify-content:center;
	}
}


/* 설정선택배치(음성합성) 20221202 */
.cp2set4{
	display:flex; /* ☆ */
	flex-direction:column;
	position:relative;
	width:100%;
	max-width:840px;
	margin:0 auto calc(16px + 2.526%); /* (16 + 34/1346) */
}
.cp2set4>.w1{
	flex:1;
	display:flex; /* ☆ */
	flex-direction:column;
}
.cp2set4>.w2{
	flex:none;
	display:flex; /* ☆ */
	justify-content:center;
	align-items:center;
}
.cp2set4>.w3{
	flex:1;
}
/*  */
.cp2set4>.w2  .b1{
	display:inline-block;
	z-index:10;
	position:relative;
	box-sizing:content-box; /* ☆ */
	width:40px;
	height:40px;
	margin:20px;
	padding:0;
	border:0;
	border-radius:9999px;
	background:#181c20;
	color:#fff;
	overflow:hidden;
	text-indent:-9999px;
}
.cp2set4>.w2 .b1.plus .ic1{
	display:inline-block;
	position:absolute;left:50%;top:50%;
	width:20px;
	height:20px;
	margin:-10px;
}
.cp2set4>.w2 .b1.plus .ic1:before{content:'';
	position:absolute;left:50%;top:50%;
	width:100%;
	height:4px;
	margin:-2px -50%;
	background:#fff;
}
.cp2set4>.w2 .b1.plus .ic1:after{content:'';
	position:absolute;left:50%;top:50%;
	width:4px;
	height:100%;
	margin:-50% -2px;
	background:#fff;
}
/* ◇◆ */
@media all and (min-width:768px){
	.cp2set4{
		flex-direction:row;
	}
	.cp2set4>.w1{
		flex:1;
		margin:3.375em 0 0; /* (화면확인) */
	}
	.cp2set4>.w2{
		flex:none;
	}
	.cp2set4>.w3{
		flex:1;
	}
}
/* ◇◆ */
@media all and (min-width:1260px){
	.cp2set4>.w1{
		width:38.095%; /* (320/840) */
	}
	.cp2set4>.w2{
		width:23.810%; /* (200/840) */
	}
	.cp2set4>.w3{
		width:38.095%; /* (320/840) */
	}
}


/* 설정선택배치(음성합성.테스트음성선택) 20221202 */
.cp2set5{
	position:relative;
}
.cp2set6 .cont{}
.cp2set5 .item{
	position:relative;
}
.cp2set5 .item~.item{
	margin:1em 0 0;
}
.cp2set5 .label{
	font-size:1.125em;
}
.cp2set5 .label:before{content:'';
	display:block;
	z-index:10;
	position:absolute;left:0;right:0;top:0;bottom:0;
	background:#0ff0;
}


/* 음향효과선택(음성합성) 20221202 */
.cp2sound1select1{
	flex:1;
	display:flex; /* ☆ */
	flex-direction:column;
	position:relative;
	font-size:1.125em;
}
.cp2sound1select1 .selectmenu1{
	flex:1;
	display:flex; /* ☆ */
	flex-direction:column;
	width:100%;
	height:auto;
	margin:0;
}
.cp2sound1select1 .selectmenu1 .title{
	height:3.75rem; /* (60/16) */
}
.cp2sound1select1 .selectmenu1 .title .a1{
	border:1px solid #7a90a9;
	border-radius:0;
	color:inherit;
	cursor:default;
}
/* 옵션 */
.cp2sound1select1 .selectmenu1option{
	top:3.75rem; /* (60/16) */
	box-shadow:none;
}
.cp2sound1select1 .selectmenu1option .options{
	max-height:21em; /* (폭768 이상 화면에서 높이맞춤 ) */
	margin:-1px 0 0;
	padding:0;
	border:1px solid #7a90a9;
	border-radius:0; /* ☆ */
	background:#fff;
	overflow:auto;
}
.cp2sound1select1 .selectmenu1option .option{
	display:flex; /* ☆ */
	align-items:center;
	position:relative;
	border-bottom:1px solid #7a90a988;
	line-height:1.375;
}
.cp2sound1select1 .selectmenu1option .option .a1{
	flex:1;
	display:block;
	padding:.75rem 1.25rem .75rem 0;
	background:transparent !important;
	color:inherit;
	line-height:inherit;
	text-decoration:none;
}
.cp2sound1select1 .selectmenu1option .option.on{
	background:#f3f6fd;
}
.cp2sound1select1 .selectmenu1option .option.on .a1{
	color:#0065dd;
}
/* 제어 */
.cp2sound1select1 .b1{
	flex:none;
	display:inline-block;
	z-index:10;
	box-sizing:content-box; /* ☆ */
	width:20px;
	height:20px;
	margin:5px 0 5px 10px;
	padding:0;
	border:10px solid transparent;
	border-radius:9999px;
	background:#181c20;
	background-clip:content-box; /* ☆ */
	color:#fff;
	overflow:hidden;
	text-indent:-9999px;
}
.cp2sound1select1	.b1.play .ic1{
	display:inline-block;
	position:absolute;left:50%;top:50%;
	width:0;height:0;
	margin:-5px -2px;
	border:0 solid transparent;
	border-width:5px 0 5px 7px;
	border-left-color:#fff;
}
.cp2sound1select1	.b1.pause{
	background-color:#0065dd;
}
.cp2sound1select1	.b1.pause .ic1{
	display:inline-block;
	position:absolute;left:50%;top:50%;
	width:6px;
	height:8px;
	margin:-4px -3px;
}
.cp2sound1select1	.b1.pause .ic1:before{content:'';
	position:absolute;left:0;top:0;bottom:0;
	width:2px;
	background:#fff;
}
.cp2sound1select1	.b1.pause .ic1:after{content:'';
	position:absolute;right:0;top:0;bottom:0;
	width:2px;
	background:#fff;
}
.cp2sound1select1 .option.play:not(.pause) .b1.play,
.cp2sound1select1 .option:not(.play) .b1.pause,
.cp2sound1select1 .option.pause .b1.pause{
	display:none;
}
.cp2sound1select1	.b1:hover,
.cp2sound1select1	.b1:focus{
	background-color:#0065dd;
}
/* ◇◆ */
@media all and (min-width:768px){
	.cp2sound1select1 .selectmenu1 .title .a1 .ic1{
		transform:rotate(0deg);
	}
	.cp2sound1select1 .selectmenu1option{
		flex:1;
		display:flex !important; /* ☆ */
		flex-direction:column;
		height:calc(100% - 3.75rem); /* (100% - .title높이) */
	}
	.cp2sound1select1 .selectmenu1option .options{
		flex:1;
		max-height:none;
	}
}


/* 설정선택배치(사람인식,..) 20221202 */
.cp2set6{
	position:relative;
	width:100%;
	max-width:640px;
	margin:0 auto calc(16px + 2.526%); /* (16 + 34/1346) */
}
.cp2set6 .cont{}
.cp2set6 .item{
	position:relative;
}
.cp2set6 .item~.item{
	margin:1em 0 0;
}
.cp2set6 .label{
	font-size:1.125em;
}
.cp2set6 .label:before{content:'';
	display:block;
	/* z-index:10; */
	position:absolute;left:0;right:0;top:0;bottom:0;
	background:#0ff0;
}
/* .type2(결과) */
.cp2set6.type2{
	margin-top:3.375em;
}


/* 비디오플레이어(사람인식,..) 20221202 */
.cp2player1video1{
	display:flex; /* ☆ */
	justify-content:center;
	align-items:center;	
	z-index:0;
	position:relative;
	width:100%;
	max-width:640px;
	height:auto;
	margin:0 auto;
	border:1px solid #333;
	text-align:center;
}
.cp2player1video1 .w1{}
.cp2player1video1 .video{
	z-index:10;	
	position:relative;
	width:100%;
	height:auto;
}
/* 제어 */
.cp2player1video1 .controls{
	display:flex; /* ☆ */
	justify-content:center;
	align-items:center;
	position:absolute;left:0;right:0;top:0;bottom:0;
}
.cp2player1video1 .controls .b1{
	display:inline-block;
	z-index:10;
	position:relative;
	width:80px;
	height:80px;
	margin:0 auto 20px; /* 모바일제어와겹침 */
	border:0;
	border-radius:9999px;
	background:#181c20;
	color:#fff;
	overflow:hidden;
	text-indent:-9999px;
}
.cp2player1video1	.b1.play .ic1{
	display:inline-block;
	position:absolute;left:50%;top:50%;
	width:0;height:0;
	margin:-18px -10px;
	border:0 solid transparent;
	border-width:18px 0 18px 28px;
	border-left-color:#fff;
}
.cp2player1video1.play:not(.pause) .b1.play,
.cp2player1video1:not(.play) .b1.pause,
.cp2player1video1.pause .b1.pause{
	display:none;
}
.cp2player1video1	.b1:hover,
.cp2player1video1	.b1:focus{
	background-color:#0065dd;
}
/* ◇◆ */
@media all and (min-width:768px){

}



/* ◇◆ .cp1~ (가져와서 커스텀) ◇◆◇◆◇◆◇◆◇◆ */



/* 폼컨트롤(라디오.체크박스.디자인유형) 20221111 */
.cp1fcontrol1[class]{
	display:inline-block;
	box-sizing:border-box; /* ☆ */
	line-height:1.375;
	text-align:left;
}
.cp1fcontrol1[class] .item{ /* label */
	display:inline-flex; /* ☆ */
	margin:.5em .5em .5em 0;
}
.cp1fcontrol1[class] input[type='radio'],
.cp1fcontrol1[class] input[type='checkbox']{
	flex:none;
	width:1em;
	height:1em;
	margin:.125em .375em;
}
.cp1fcontrol1[class] .item .t1{
	flex:1;
	position:relative;
}
/* 멀티라인 */
.cp1fcontrol1.mline,
.cp1fcontrol1.mline .item{
	width:100%;
	margin-right:0;
}



/* ContentBlockName YYYYMMDD @Writer ◇◆ */


/* RWD ◇◆◇◆ */
/* ◇◆ */
@media all and (max-width:767px){
}
/* ◇◆ */
@media all and (min-width:768px){
}
/* ◇◆ */
@media all and (min-width:1000px){
}
/* ◇◆ */
@media all and (min-width:1260px){
}
/* ◇◆ */
@media all and (min-width:1440px){
}


/* @keyframes ◇◆◇◆ */
@keyframes kf1blink1{
	40%{opacity:1;}
	100%{opacity:.4;}
}
@keyframes kf1bg1size1{
	100%{background-size:102%;}
}

